<!-- Created by Dayu Wang (dwang@stchas.edu) on 2024-07-25 -->

<!-- Last updated by Dayu Wang (dwang@stchas.edu) on 2024-07-25 -->


<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>Google Trends SVI Data Gathering</title>
    <link rel='stylesheet' type='text/css' href='/style.css'>
</head>
<body>
    <p class='test'>Hello World!</p>
</body>
</html>